{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Add Student</title>
    <link rel="stylesheet" href="{% static 'students/style.css' %}">
</head>

<body>

<h1>Add Student</h1>

<form method="POST">
    {% csrf_token %}

    <label>Student ID:</label>
    <input type="text" name="student_id" required>
    <br><br>

    <label>Name:</label>
    <input type="text" name="name" required>
    <br><br>

    <label>Department:</label>
    <input type="text" name="department" required>
    <br><br>

    <label>Year:</label>
    <input type="number" name="year" required>
    <br><br>

    <label>Email:</label>
    <input type="email" name="email" required>
    <br><br>

    <label>Phone:</label>
    <input type="text" name="phone" required>
    <br><br>

    <button type="submit">Save Student</button>
</form>

<p style="text-align: center;">
    <a href="{% url 'student_list' %}">Back to Student List</a>
</p>

</body>
</html>